* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div:hover {
 border: 7px solid green;
 text-align: center;
} */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}

.author {
    color: burlywood;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.box {
    margin: 15px;
    padding: 15px;
    border: 3px solid black;
}

.box:hover {
    border: 7px solid rgb(52, 193, 52);
}

.A {
    background-color: red;
    height: 250px;
    width: 250px;
}

.B {
    position: absolute;
    background-color: blue;
    height: 75px;
    width: 75px;
    transform: translate(15px, 25px);
}

.C {
    position: absolute;
    background-color: green;
    height: 75px;
    width: 75px;
    transform: rotate(32deg);
    margin-top: 45px;
    margin-left: 25px;
}

.D {
    /* position: absolute; */
    background-color: yellow;
    height: 75px;
    width: 75px;
    transform: scale(1.5);
}

.E {
    position: absolute;
    background-color: purple;
    height: 75px;
    width: 75px;
    transform: skew(20deg, 20deg);
    margin-top: 45px;
    margin-left: 25px;
}

.F {
    position: absolute;
    background-color: orange;
    height: 75px;
    width: 75px;
    transform: matrix(1, 0.5, 0.5, 1, 0, 0);
}

.G {
    position: absolute;
    background-color: brown;
    height: 75px;
    width: 75px;
    transform: translate3d(15px, 25px, 0);
}

.H {
    position: absolute;
    background-color: pink;
    height: 75px;
    width: 75px;
    transform:  rotateX(45deg) rotateY(45deg) rotateZ(45deg);
}

.I {
    position: absolute;
    background-color: black;
    height: 75px;
    width: 75px;
    transform:  scale3d(1.5, 1.5, 1.5);
}

.J {
    position: absolute;
    background-color: grey;
    height: 75px;
    width: 75px;
    transform:  skewX(20deg) skewY(20deg);
}