* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    background: black;
    font-size: 2rem;
    color: white;
    display: block;
}

a:hover{
    background: red;
}

ul {
    display: flex;
}

.dropdownMenu1{
    display: none;
    position: relative;
}

li:hover .dropdownMenu1{
    display: block;
    display: flex;
    flex-direction: column;
}

.DropdownMenu2 {
    display: none;
    position: absolute;
    left: 100%;
}

.ok:hover .DropdownMenu2{
    display: block;
    display: flex;
    flex-direction: column;
}




/* Author Part  */
.one {
    height: 72px;
    width: 532px;
    border: 3px solid rgb(126, 210, 16);
    text-align: center;
    margin-left: 300px;
    font-size: 2rem;
}

.one:hover {
    border: 5px dotted darkcyan;
}