* {
    margin: 0;
    padding: 5px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    background: black;
    font-size: 2rem;
    color: white;
    display: block;
}

a:hover{
    background: red;
}

ul {
    display: flex;
}

.DropdownMenu {
    display: none;
}

.DropdownMen li:hover u{
    display: block;
    display: flex;
    flex-direction: column;
}

.DropdownMenu2 {
    display: none;
}

.ok:hover .DropdownMenu2 {
    display: block;
    position: absolute;
    left: 100%;
}