/* CSS Pseudo Class  */
h1 {
  color: rgb(19, 128, 76);
  background: wheat;
  border-radius: 15px;
  margin-top: 275px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: forestgreen;
}

/* mouse over link */
a:hover {
  background: yellow;
}

/* selected link */
a:active {
  color: blue;
}

.one {
  height: 72px;
  width: 532px;
  border: 3px solid black;
  text-align: center;
  margin-left: 170px;
  font-size: 3rem;
}

.one:hover,
.ok:hover {
  border: 7px dotted darkcyan;
  /* background: wheat; */
}

/* code for day-25 starts here  */
.alldiv {
  display: flex;
  gap: 15px;
}

.ok {
  padding: 10px;
  border: 1px solid darkorchid;
}

/* Main Code of Today  */

.two img {
  height: 232px;
  width: 332px;
  opacity: 0.8;

  /* background-image: url("card-1.jpg");
  color: yellow; */

  /* background-image: linear-gradient(rgb(140, 186, 24)), url('card-1.jpg'); */
}

.two img:hover {
  height: 232px;
  /* width: 332px; */
  opacity: 0.2;
}

.backround {
  background-image: url("card-1.jpg");
  height: 232px;
  opacity: 0.2;
}

.transparent {
  background: #000;
  color: #fff;
  height: 100%;
  opacity: 0.5;
}

.ok {
background: wheat;
}
.nav1{
  background: rgb(64, 91, 19);
  position: fixed;
  color: #fff;
  border-radius: 35px;
  display: block;
}
.nav ul {
  list-style-type: none;
 display: flex;
 flex-direction: row;
  gap: 10px;
  color: rgb(126, 195, 46);
  font-size: 48px;
}

.nav ul li a{
  text-decoration: none;
  padding: 5px;
}

.nav ul li a:hover{
  border: 2px solid darkorange;
  border-radius: 15px;
  background: yellow;
  color: rgb(222, 144, 8);
}

.our-nav{
  align-items: center;
  justify-content: center;
  text-align: center;
  font: 2em sans-serif;
}
.our-nav p{
font-size: 18px;
color: rgb(141, 113, 241);
}