/* Decendent Selector: div p */
.one p {
    background: red;
}
/* Child Selector: div > p  */
.two > p {
    background: yellowgreen;
}
.two > section {
    background: green;
}
/* Adjacent Siblings Selector: div + p  */
.three+p {
    background: rgb(14, 49, 14);
}
/* General jacent Siblings Selector: div ~ p  */
.four~p {
    background: rgb(231, 170, 17);
}