 /*All about External CSS*/
body{
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    background: yellow;
}

#one {
    color: darkblue;
    background: orange;
}

* {
    color: red;
    background: lightgray;
}