/* CSS Pseudo Class  */
h1 {
    color: white;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: forestgreen;
}

/* mouse over link */
a:hover {
    background: yellow;
}

/* selected link */
a:active {
    color: blue;
}

.one {
    height: 72px;
    width: 532px;
    border: 3px solid black;
    text-align: center;
    margin-left: 330px;
    font-size: 3rem;
}

.one:hover {
    border: 5px dotted darkcyan;
}

/* code for day-25 starts here  */
.alldiv {
    display: flex;
  gap: 15px;
}
.ok{
    border: 1px solid darkorchid;
    text-align: center;
}
input:focus {
    background-color: yellow;
  }
  input[type=text]:focus {
    width: 250px;
  }

  .two input {
    border: 3px solid darkorange;
    background: darkolivegreen;
  }
  input:in-range {
    border: 3px solid red;
    background: yellow;
  }

  .three input[type=email]:valid {
    background: green;
  }
  .three input[type=email]:invalid {
    background: red;
  }
  :not(p) {
    background: wheat;
  }

  p::first-letter {
    font-size: 3rem;
  }
  p::first-line {
    color: blue;
  }
  ::selection {
    color: chartreuse;
    background: grey;
  }
  .four input:optional {
    background-color: darkgray;
  }
  p::after { 
    content: "- Khela Hbe?";
    background-color: darkblue;
    color: white;
    font-weight: bolder;
  }
