* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div:hover {
 border: 7px solid green;
 text-align: center;
} */
h1 {
    text-align: center;
    color: rgb(235, 12, 12);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}

.author {
    display: flex;
    color: burlywood;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
}

.box:hover {
    border: 7px solid rgb(52, 193, 52);
}


/* Day 43: CSS Object-fit and Masking */

.object-fit1 img{
    width: 120px;
    height: 80px;
    object-fit: cover;
    object-position: 50% 50%;
}

.object-fit2 img{
    width: 120px;
    height: 80px;
    object-fit: fill;
}

.object-fit3 img{
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.object-fit4 img{
    width: 120px;
    height: 80px;
    object-fit: scale-down;
}

.object-fit5 img{
    width: 120px;
    height: 80px;
    object-fit: none;
}

.mask {
    -webkit-mask-image: url(image/w3logo.png);
    mask-image: url(image/w3logo.png);
    -webkit-mask-repeat: no-repeat;
    /* width: 620px;
    height: 600px; */
}

.mask img {
    width: 320px;
    height: 200px;
}

.mask2 {
    /* -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(168, 156, 156, 0) 40%);
}

.mask2 img {
    width: 320px;
    height: 200px;
}