/* CSS Pseudo Class  */
h1 {
    color: rgb(19, 128, 76);
    background: wheat;
    border-radius: 15px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: forestgreen;
}

/* mouse over link */
a:hover {
    background: yellow;
}

/* selected link */
a:active {
    color: blue;
}

.one {
    height: 72px;
    width: 532px;
    border: 3px solid black;
    text-align: center;
    margin-left: 170px;
    font-size: 3rem;
}

.one:hover, .ok:hover {
    border: 7px dotted darkcyan;
    background: wheat;
}

/* code for day-25 starts here  */
.alldiv {
    display: flex;
  gap: 15px;
}
.ok{
    padding: 10px;
    border: 1px solid darkorchid;
}

/* Main Code of Today  */

  .two p::before { 
    content: "- ::before used here";
    background-color: rgb(3, 67, 17);
    color: white;
    font-weight: bolder;
  }
  p::after { 
    content: url(sorowar-1.jpg);
  }
  