.relative {
    height: 300px;
    width: 300px;
    background: green;
    position: relative;
    left: 100px;
}

.absolute {
    height: 70px;
    width: 70px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.fixed {
 border: 3px solid red;
 width: 300px;
 background: yellow;
 color: darkslateblue;
 position: fixed;
 right: 0;
 left: 0;
 opacity: 0.8;
}