* {
    margin: 0;
    padding: 5px;
}

body {
    box-sizing: border-box;
}

.cl-1 {
    margin: 5px;
    border: 2px solid yellowgreen;
    width: 180px;
    height: 300px;
}

/* .cl-1 img {
    width: 180px;
    height: 300px;
} */